/* Configuración general del cuerpo de la página */
body {
    display: flex; /* Establece el cuerpo como un contenedor flexible */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    flex-direction: column; /* Establece la dirección del contenido como columna */
    background-image: url('../img/mercado.jpg'); /* Reemplaza 'ruta_de_tu_imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen de fondo al tamaño del contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-color: rgba(75, 161, 127, 0.674); /* Color de fondo */
    margin: 0;
    height: 100vh;
}

/* Estilos para el encabezado y el título */
nav, nav h1, h4 {
    text-align: center; /* Centra el texto */
    padding: 10px; /* Añade espacio alrededor del contenido */
    margin: 0; /* Elimina los márgenes predeterminados */
    font-size: 50px; /* Tamaño de fuente grande */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Tipo de fuente */
    background-image: linear-gradient(to right, red, blue); /* Gradiente de color */
    -webkit-background-clip: text; /* Aplica el gradiente al texto */
    color: transparent; /* Hace el texto transparente */
}

/* Estilos para el encabezado y el contenido principal */
header, main {
    text-align: center; /* Centra el texto dentro del encabezado y el contenido principal */
}

/* Estilos para la sección de la lista */
section {
    display: flex; /* Convierte los elementos hijos en un contenedor flexible */
    justify-content: space-around; /* Distribuye los elementos uniformemente en el espacio disponible */
    align-items: center; /* Centra los elementos verticalmente */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no hay suficiente espacio */
}

/* Estilos para las listas */
ul, ol {
    list-style-type: none; /* Quita los puntos/bullet points de las listas */
    padding: 0; /* Elimina el espacio interno de las listas */
    margin: 0; /* Elimina los márgenes predeterminados de las listas */
    display: flex; /* Convierte los elementos hijos en un contenedor flexible */
    flex-direction: column; /* Establece la dirección de los elementos como columna */
    
}

/* Estilos para los elementos de la lista */
li {
    margin-right: 10px; /* Agrega espacio entre los elementos */
    color: rgb(255, 0, 0);
    font-weight: 100;
    font-weight: bold;

}

/* Estilos adicionales para los elementos de lista ordenada (ol) */
ol li {
    margin-right: 10px; /* Agrega espacio entre los elementos */
    margin: 30px;
    font-size: 25px;
    margin-bottom: 10px;
    font-size: 25px;
    
}
ul > li > b {
    color: blue; /* Cambia el color del texto a azul */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold; /* Hace que el texto sea negrita */
}  

img {
    max-width: 250px; /* Establece el ancho máximo al 100% del contenedor */
    max-height: 200px; /* Establece la altura máxima de la imagen a 100 píxeles (puedes ajustar este valor según tus necesidades) */
    border: 1px solid black; /* Añade un borde de 1 píxel sólido negro alrededor de la imagen */
    border-radius: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-family: Arial;
    background-color: #0f0f0f; /* Cambia el color de fondo según tus preferencias */
    padding: 10px;
}






